<div class="container">
  <h2 class="my-3"><%= t(:edit_profile) %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-row">
      <div class="col-sm-9">
        <div class="form-inputs bg-light p-3">
          <%= f.input :first_name, label: t(:first_name), input_html: {value: current_user.first_name} %>
          <%= f.input :last_name, label: t(:last_name), input_html: {value: current_user.last_name} %>
          <%= f.input :birthday, label: t(:birthday), as: :string, input_html: {class: "datepicker bg-white", value: current_user.birthday} %>
          <%= f.input :gender, label: t(:gender), collection: t(:gender_array), input_html: {value: current_user.gender} %>
          <%= f.input :base_location, label: t(:base_loc_question), input_html: {value: current_user.base_location, class: "small-added"} %>
          <small class="form-text text-muted mb-3"><%= t(:base_loc_question_addon) %></small>
          <%= f.input :seek_location, label: t(:seek_loc_question), input_html: {value: current_user.seek_location} %>
          <small class="form-text text-muted mb-3"><%= t(:seek_loc_question_addon) %></small>
          <%= f.input :arrival_date, label: t(:arrival_question), input_html: {value: current_user.arrival_date}, discard_day: true, discard_hour: true, start_year: Date.today.year - 50, end_year: Date.today.year %>
          <%= f.input :photo, label: t(:photo_upload), input_html: {value: @user.photo} %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :language_list, collection: t(:language_array), label: t(:language_question), input_html: {class: "select2",  multiple: "multiple", value: current_user.language_list} %>
          <%= f.input :hobby_list, label: t(:hobbies_question), collection: t(:hobby_array), input_html: {class: "select2",  multiple: "multiple", value: current_user.hobby_list} %>
          <%= f.input :bio, input_html: {value: current_user.bio} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-inputs bg-light p-3">
          <%= f.input :email, label: t(:email), required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                        label: t(:password),
                        hint: t(:password_hint),
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                        label: t(:password_confirmation),
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                        label: t(:current_password),
                        hint: t(:current_password_hint),
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
        </div>
      </div>
    </div>
    <div class="form-actions mt-3">
      <%= f.button :submit, "Update", class: "btn btn-outline-dark" %>
    </div>
  <% end %>
  <br>
  <p><%= t(:unhappy) %> <%= link_to t(:account_cancel), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to t(:back), :back %>
  <br>
</div>
