<div class="container w-50">
  <h2 class="my-3">To do this you will have to update your profile</h2>
  <%= simple_form_for @locallect do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs bg-light p-3">
      <%= f.input :first_name, input_html: {value: @locallect.first_name} %>
      <%= f.input :last_name, input_html: {value: @locallect.last_name} %>
      <%= f.input :age, input_html: {value: @locallect.age} %>
      <%= f.input :job, input_html: {value: @locallect.job} %>
      <%= f.input :gender, input_html: {value: @locallect.gender} %>
      <%= f.input :base_location, label: "Where do you consider yourself to be a locallectual?", input_html: {value: @locallect.base_location} %>
      <%= f.input :years_in_city, label: "How long have you been in this city for?", input_html: {value: @locallect.years_in_city} %>
      <%= f.input :explorer_location, label: "Where do you seek to get to know locals?", input_html: {value: @locallect.explorer_location} %>
    </div>
    <div class="form-actions my-3">
      <%= f.button :submit, "Update", class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>
