<!-- below is the previous code -->
<div class="p-5">
  <h2>People in <%= @base_location %></h2>
  <div class="d-flex">
    <!-- user cards  -->
    <div class="col-sm-9">
      <div class="row">
        <div class="filtertitle">
        </div>
        <% if current_user.nil? %>
          <% @locallects.each do |user| %>
            <div class="col-sm-4">
              <%= render 'shared/locallectslist', :user => user %>
            </div>
          <% end %>
        <% else %>
          <% @locallects.each do |user| %>
            <div class="col-sm-4">
              <% unless current_user.id == user.id %>
                <%= render 'shared/locallectslist', :user => user %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- filter menu -->
    <div class="filter col-sm-3">
      <%= simple_form_for :search, url: locallects_path, method: "GET" do |f| %>
        <div class="form-inputs bg-light p-3">
          <%= f.input :age %>
          <%= f.input :gender, collection: ["Male", "Female", "Diverse"] %>
          <%= f.input :base_location, input_html: {value: @base_location} %>
          <%= f.input :language_list, collection: @languages, input_html: {class: "select2",  multiple: "multiple"} %>
          <%= f.button :submit, "Search", class: "btn btn-outline-dark" %>
        </div>
      <% end %>
    </div>
  </div>
