<div class="p-5">
  <h2 class="ml-5 pl-3"><%= t(:people_in) %> <%= @base_location %> </h2>
  <div class="d-flex m-5">
    <!-- user cards  -->
    <div class="col-sm-9">
      <div class="row">
        <div class="filtertitle">
        </div>
        <% if current_user.nil? %>
          <% @locallects.each do |user| %>
            <div class="col-sm-4">
              <%= render 'shared/locallectslist', :user => user %>
            </div>
          <% end %>
        <% else %>
          <% @locallects.reject{|x| x == current_user}.each do |user| %>
            <div class="col-sm-4">
              <%# unless current_user.id == user.id %>
              <%= render 'shared/locallectslist', :user => user %>
              <%# end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- filter menu -->

    <div class="filter col-sm-3 sticky-top">
      <%= simple_form_for :search, url: locallects_path, method: "GET" do |f| %>


        <div class="form-inputs bg-light p-3">
          <div class="inline-block d-flex">
            <%= f.input :start_age, label: t(:start_age), input_html: {value: params[:search][:start_age]}, required: false %><%= f.input :end_age, label: t(:end_age), input_html: {value: params[:search][:start_age]}, required: false %>
          </div>
          <%= f.input :gender, label: t(:gender), collection: ['All'].concat(t(:gender_array)), selected: params[:search][:gender], required: false %>
          <%= f.input :base_location, label: t(:base_loc), input_html: {value: @base_location}, required: false %>
          <%= f.input :language_list, label: t(:languages), collection: t(:language_array), input_html: {class: "select2",  multiple: "multiple"}, required: false %>
          <%= f.input :hobby_list, label: t(:hobbies), collection: t(:hobby_array), input_html: {class: "select2",  multiple: "multiple"}, required: false %>
          <%= f.button :submit, t(:search), class: "btn btn-outline-dark" %>
        </div>

      <% end %>
    </div>
  </div>
