<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @locallect.city_image %>);">
  <div class="home-banner-container">

    <p>"A little nonsense now and then is relished by the wisest men!"</p>

  </div>
  <%= cl_image_tag @locallect.photo, width: 300, height: 300, crop: :fill, class: "show-profile-image"%>
  <!-- <img class="show-profile-image" src="http://res.cloudinary.com/constantineulenstein/image/upload/c_fill,h_300,w_300/v1575012083/btt73tsfl2zdap0mqerq.jpg" alt="profile image"> -->
</div>

<div class="mgt50"></div>

<div class="page-bottom" >
  <div class="left-box text-center pt-5">
    <h2><%= @locallect.first_name %> <%= @locallect.last_name %></h2>
    <br>
    <p>Lived in <%= @locallect.base_location %> since <%#= @locallect.arrival_date.strftime("%B %Y") %></p>
    <p>Interests: <%=  @locallect.hobby %></p>
    <%= link_to "Get to know #{@locallect.first_name}", "#", id: "friendship-request-button", class: "btn btn-outline-dark" %>
  </div>
  <div class="right-box pt-5">
    <h2>Bio</h2>
    <p> As a native Brit, Elliot has always had a deep love of the ocean. Her summers were spent at the beach packing peanut butter & jelly sandwiches and hopping on the bus for the short trip from Irvine, CA to Newport Beach, even before she could drive. Catherine enjoyed hanging out all day watching the surf action.</p>
  </div>
</div>

<div class="mgt50"></div>

<div class="container w-50 bg-light" id="friend-request-field">
  <!-- This link will be used to have the friendship message pop up and create the friendship request through javasscript. Hereby make background grey and set position of friendwhip request to fixed -->
  <%= simple_form_for(@friendship, url: locallect_friendships_path(@locallect), method: :post) do |f| %>
    <%= f.input :request_message, label: "Tell him something about you", class: "friendrequest-text" %>
    <%= f.button :submit, "Send friend request", class: "btn btn-outline-light", id: "submit-button-friendrequest" %>
  <% end %>
</div>
