<div class="messages-container">

  <div class="recipient-info col-sm-4">
    <h1>Name</h1>
    <h2>Other info</h2>
  </div>
  <div class="message-list col-sm-8">
    <%= @conversation.subject %>

    <% receipts = @conversation.receipts_for current_user %>

    <div class="conversations-container">
      <% receipts.each do |receipt| %>
        <div class="card-conversation">
          <img src="" />
          <div class="card-product-infos">
            <%= message = receipt.message.body %>
          </div>
        </div>
      <% end %>
      <%= form_tag(reply_path(id: @conversation.id), method: :get) do %>
        <%= text_field_tag(:send_message) %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "book person", new_conversation_transaction_path(:conversation_id) %>
