<div class="messages-container to-be-darkened">
  <div class="recipient-info col-sm-4">
    <div class= "cover-by-popup-image-book chatter-photo ml-1" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= @other_chatter.photo %>);">
    </div>
    <%#= cl_image_tag @other_chatter.photo, class: "chatter-photo ml-1 cover-by-popup-image-book" %>
    <h1><%= @other_chatter.first_name %> <%= @other_chatter.last_name %></h1>
    <h4><%= @other_chatter.gender %> • <%= @other_chatter.age %> </h4>
    <p><%= @other_chatter.bio %></p>
    <% if current_user.transactions.any? {|transaction| @other_chatter.transactions.include?(transaction) } %>
      <% @other_chatter.transactions.each do |transaction| %>
        <!-- Check if new transaction to be approved -->
        <% if current_user.transactions.include?(transaction) && transaction.approved == false && transaction.declined == false %>
          <h3>Proposed meeting:</h3>
          <p class="font-weight-bold">Date: <%= transaction.date.strftime("%A, %d %b %Y %l:%M %p") %></p>
          <p class="font-weight-bold">Location: <%= transaction.location %></p>
          <% if current_user.id == transaction.locallect_id %>
            <%= link_to 'Approve', transaction_request_approve_path(@conversation.id, transaction.id), class: "btn btn-outline-success mr-3" %>
            <%= link_to 'Reject', transaction_request_reject_path(@conversation.id, transaction.id), class: "btn btn-outline-danger" %>
          <% else %>
            <p><%= @other_chatter.first_name %> still has to approve</p>
          <% end %>
        <% end %>
        <!-- Check if new transaction that has been approved -->
        <% if current_user.transactions.include?(transaction) && transaction.approved == true %>
          <h3>Your next meeting:</h3>
          <p>Date: <%= transaction.date.strftime("%A, %d %b %Y %l:%M %p") %></p>
          <p>Location: <%= transaction.location %></p>
          <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
        <% end %>
        <!-- Check if new transaction that has been declined -->
        <% if current_user.transactions.include?(transaction) && transaction.declined == true && current_user.id == transaction.explorer_id%>
          <h3><%= @other_chatter.first_name %> unfortunately can not meet on <%= transaction.date.strftime("%A, %d %b %Y %l:%M %p") %></h3>
        <% end %>
      <% end %>
      <p class=""><%= link_to "Change meeting", "#", class: "request-button btn btn-outline-dark m-2"%></p>
    <% else %>
      <%= link_to "book #{@other_chatter.first_name}", "#", class: "request-button" %>
    <% end %>
  </div>
  <div class="message-list-container col-sm-8 px-0">
    <div class="message-list">
      <% unordered = @conversation.receipts_for current_user%>
      <% receipts = unordered.order(created_at: :desc) %>

      <div class="conversations-container">
        <% receipts.reverse.each_with_index do |receipt,index| %>
          <% if receipt.message.sender_id == current_user.id %>
            <div class="single-message-container r">
              <div class="card-conversation cover-by-popup-box r text-dark">
                <div class="card-product-infos">
                  <p class="message-co"> <%= message = receipt.message.body %></p>
                </div>
              </div>
              <div class="p-1"></div>
                <%= cl_image_tag @logged_in_chatter.photo, class: "avatar ml-1 cover-by-popup-image-book" %>
            </div>
          <% else %>
            <div class="single-message-container l">
              <%= cl_image_tag @other_chatter.photo, class: "avatar ml-1 cover-by-popup-image-book" %>
              <div class="p-1"></div>
              <div class="card-conversation cover-by-popup-box bg-dark text-white">
                <div class="card-product-infos">
                  <p> <%= message = receipt.message.body %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="send-message-field">
      <%= form_tag(reply_path(id: @conversation.id), method: :get) do %>
        <div class="input-container">
          <div class="message-box">
            <%= text_field_tag :send_message, nil, placeholder: "Type a message..." %>
          </div>
          <%= submit_tag "Send",class: "bgd-white btn btn-dark send-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Will only pop up if meeting takes place -->
<div class="container w-50 border-radius p-5 request-field">
  <h3 class="my-3">Arrange meeting</h3>
  <%= simple_form_for(@transaction, url: conversation_transactions_path(@conversation), method: :post) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :date, as: :string, input_html: {class: "datepicker bg-white"} %>
      <%= f.input :location, as: :string %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Book", class: "btn btn-outline-light" %>
    </div>
  <% end %>
  <%= link_to conversation_path(@conversation) do %>
    <i class="fas fa-times cancel-cross"></i>
  <% end %>
</div>
<script>
  const chatter = <%= @other_chatter.to_json.to_s.html_safe %>
</script>
