<div class="messages-container">
  <div class="recipient-info col-sm-4">
    <h1><%= @other_chatter.first_name %> <%= @other_chatter.last_name %></h1>
    <h1><%= @other_chatter.gender %></h1>
    <h2>Other info</h2>
    <%= link_to "book person", "#", class: "friendship-request-button" %>
    <p><%= @transaction %></p>
  </div>
  <div class="message-list col-sm-8">
    <%= @conversation.subject %>
    <% receipts = @conversation.receipts_for current_user%>
    <div class="conversations-container">
      <% receipts.each do |receipt| %>
        <div class="card-conversation">
          <h4><%= User.find(receipt.message.sender_id).first_name %></h4>
          <div class="card-product-infos">
            <%= message = receipt.message.body %>
          </div>
        </div>
      <% end %>
      <%= form_tag(reply_path(id: @conversation.id), method: :get) do %>
        <%= text_field_tag(:send_message) %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container w-50 border-radius p-5 friend-request-field">
  <h3 class="my-3">Arrange meeting</h3>
  <%= simple_form_for(@transaction, url: conversation_transactions_path(@conversation), method: :post) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :date, as: :string, input_html: {class: "datepicker bg-white"} %>
      <%= f.input :location, as: :string %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Book", class: "submit-button-friendrequest btn btn-outline-light" %>
    </div>
  <% end %>
</div>

