<%= link_to locallect_path(user.id) do %>
  <div id="curve" class="card mb-4">
    <div class="index-circle-photo-container  h-75">
    <%= user.photo.url.nil? ? (image_tag "user-solid.svg") : (cl_image_tag user.photo, class: "index-circle-photo", width: 250, height: 220, crop: :fill) %>
    </div>
    <div class="footer-up p-0">
      <svg id="curve">
        <path id="p" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
        <!-- slide up-->
        <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.1s" id="bounce1" />
        <!-- slide up and curve in -->
        <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.15s" id="bounce2" />
        <!-- slide down and curve in -->
        <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.15s" id="bounce3" />
        <!-- slide down and curve out -->
        <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.1s" id="bounce4" />
        <!-- curve in -->
        <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.05s" id="bounce5" />
        <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
      </svg>
      <div class="info bg-light">
        <div class="name"><%= user.first_name %> <%= user.last_name %></div>
        <p class="text-center"><%= user.base_location.split(",")[0] %> - <%= user.gender %> - <%= user.age %></p>
        <div class="job d-flex justify-content-between">
        </div>
      </div>
    </div>
    <div class="card-blur"></div>
  </div>
<% end %>
