<!-- <section class="cards"> -->
<div class="card card--1">

  <div class="card__img"></div>
  <a href="#" class="card_link">
    <div class="card__img--hover" style="background-image: url(<%= user.photo %>)"></div>
  </a>
  <%= link_to locallect_path(user.id) do %>
    <div class="card__info">
      <span class="card__category"><%= user.base_location %></span>
      <p class="card__title"><%= user.first_name %> <%= user.last_name %></p>
      <span class="card__by"> <%= user.job %> <a href="#" class="card__author" title="author"><%= user.age %></a></span>
    </div>
  <% end %>
</div>
<!-- </section> -->
