<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-one">
      <h2><%= t(:who_we_are) %></h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character sc"><%= t(:who_we_are_starting_letter) %></span><%= t(:who_we_are_text) %></p>
      <p class="line-break margin-top-10"></p>
      <!--       <p class="margin-top-10"></p> -->
    </div>
  </section>
  <section>
    <div class="parallax-two">
      <h2><%= t(:why_platform) %></h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character ny"><%= t(:why_platform_starting_letter) %></span><%= t(:why_platform_text) %></p>
      <p class="line-break margin-top-10"></p>
      <!--  <p class="margin-top-10"></p> -->
    </div>
  </section>
  <section>
    <div class="parallax-three">
      <h2><%= t(:what_solve) %></h2>
    </div>
  </section>
  <section>
    <div class="block">
      <p><span class="first-character atw"><%= t(:what_solve_starting_letter) %></span><%= t(:what_solve_text) %></p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10"></p>
    </div>
  </section>
</div>
