<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/78ae4d646f.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/node_modules/select2/dist/css/select2.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script> -->
    <title>Locallectual - helping the displaced connect locally</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('locallectuallogo.png') %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <meta property="og:title" content="Locallectual" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />

    <meta property="og:image" content="<%= image_tag('https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', :size => '1200x630') %>" />
    <meta property="og:description" content="Helping the displaced connect locally" />
    <meta property="og:site_name" content="Locallectual" />
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
